{
	"plugins": ["prettier-plugin-tailwindcss"],
	"jsxSingleQuote": true,
	"bracketSameLine": true,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 2,
	"semi": false,
	"arrowParens": "avoid"
}
